<header>

  <div class="inner">

    <h1 class="logo">
      {{#link-to 'index'}} Kominex {{/link-to}}
    </h1>

    <ul>

      <li>
        {{#link-to 'wladze' }} Władze {{/link-to}}
      </li>

      <li>
        {{#link-to 'klienci'}} Klienci {{/link-to}}
      </li>

      <li>
        {{#link-to 'lokalizacja' }} Lokalizacja {{/link-to}}
      </li>

      <li>
        {{#link-to 'historia' }} Historia {{/link-to}}
      </li>

      <li>
        {{#link-to 'produkty'}} Produkty {{/link-to}}
      </li>

    </ul>

  </div>

</header>
