{{render 'header'}}

<div class="inner">

<p>Asortyment:</p>

<p>
  Oferujemy kompleksową sprzedaż wkładów kominkowych wraz z montażem i estetycznym wykończeniem obrabianej przestrzeni.
</p>

</div>

{{render 'footer'}}
