{{render 'header'}}

<div class="inner">

  <p>Misja i Historia Firmy:</p>

  <p>
    Firma „Kominex” powstała w 1990 r. w Krakowie. Jesteśmy stabilną marką, wywodzącą się z rodzinnej firmy.
    Nasze przedsiębiorstwo oferuje kompleksowe usługi związane ze sprzedażą, montażem i serwisem domowych układów kominkowych.
    Wieloletnie doświadczenie i wiedza naszych fachowców zadowoliła już wielu wymagających klientów.
    Wszelkie pytania dotyczące współpracy prosimy kierować drogą mailową bądź telefoniczną. Informacje znajdziecie Państwo w zakładce „Kontakt”
  </p>

</div>

{{render 'footer'}}
